@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-color-twitter {
  background-color: #1da1f2;
}
.bg-color-github {
  background-color: #333;
}

.bg-color-linkedin {
  background-color: #0077b5;
}
